Repository dreamiurg/claude-session-topics: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, typescript-typecheck, biome-check, vitest

markdownlint:
  name: Lint Markdown files
  description: Check Markdown style issues
  entry: markdownlint-cli2
  language: system
  pass_filenames: true

typescript-typecheck:
  name: TypeScript strict type checking
  description: Run TypeScript compiler with strict mode
  entry: bun run typecheck
  language: system
  pass_filenames: false

biome-check:
  name: Biome format and lint
  description: Format and lint TypeScript/JavaScript with Biome
  entry: bun run check:ci
  language: system
  pass_filenames: false

vitest:
  name: Run TypeScript tests
  description: Run vitest test suite
  entry: bun run test:ci
  language: system
  pass_filenames: false

test: increase timeout for CLI stdin test and add debug logging
  src/cli.test.ts
Due: biome-check

feat: implement stable theme with dynamic activity updates
  src/background-generator.ts
  src/cli-force-topic.ts
  src/topic-generator.ts
Due: biome-check

test: skip stdin hook test in CI environment
  src/cli.test.ts
Due: biome-check

fix: add build step before tests in CI workflow
  .github/workflows/ci.yml
Due: none

chore: migrate to bun and update README for v2.0 (#45)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  bun.lock
  package-lock.json
  src/background-generator.ts
  src/cli-force-topic.ts
  src/cli.test.ts
  src/topic-generator.ts
Due: markdownlint, biome-check

fix: correct marketplace name and installation paths
  .claude-plugin/marketplace.json
  commands/setup-statusline.md
Due: markdownlint, biome-check

fix: correct marketplace name and installation paths (#46)
  .claude-plugin/marketplace.json
  commands/setup-statusline.md
Due: markdownlint, biome-check

fix: include no-hooks.json for topic generation
  no-hooks.json
Due: biome-check

fix: include no-hooks.json for topic generation (#50)
  no-hooks.json
Due: biome-check

chore: add dependabot auto-merge, supply chain review, and branch protection
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
Due: none

chore: add dependabot auto-merge, supply chain review, and branch protection (#52)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
Due: none

fix: use dynamic import for better-sqlite3 to prevent crash when not installed
  src/claude-mem.ts
Due: biome-check

fix: use dynamic import for better-sqlite3 to prevent crash when not installed (#60)
  src/claude-mem.ts
Due: biome-check

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  typescript-typecheck: any of: \.(ts|mts|cts)$ and \.tsx$
  biome-check: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.json$
  vitest: any of: \.(ts|mts|cts)$ and \.tsx$
